{% extends "layout.html" %}

{% block title %}
    Current Games
{% endblock %}

{% block main %}
<hr class='invisible'>
    <div class = 'centered'>
        <h1>Games</h1>
    </div>
    <div>
        <a class = "btn btn-primary rounded-pill shadow-sm" href="/newgame">New Game</a>
    </div>
    <hr>
    <div class="table-responsive">
        <h2>Current Games</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Opponent</th>
                    <th>Time Remaining</th>
                </tr>
            </thead>
            <tbody>
                {% for game in currentgames %}
                <tr>
                    <td> {{ game['name'] }} </td>
                    <td> {{ game['opponent'] }} </td>
                    <td> {{ game['timeRemaining'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>

    <hr>
    </div>
    <h2>Game Invites</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Opponent</th>
                <th>Duration</th>
                <th>Accept?</th>
            </tr>
        </thead>
        <tbody>
            <form action="{{ url_for('gamescreen') }}" method="post">
                {% for game in gameinvites %}
                    <tr>
                        <td> {{ game['name'] }} </td>
                        <td> {{ game['opponent'] }} </td>
                        <td> {{ game['duration'] }} </td>
                        <td> 
                            <input type="checkbox" name="accept" value={{game.gamenumber}}>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
        
    </table>
    <input type="submit" class="btn btn-secondary" value="Accept checked invites">
    </form>
    </div>
    <hr> 
    <h2>Sent Invites</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Opponent</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for game in sentvites %}
            <tr>
                <td> {{ game['name'] }} </td>
                <td> {{ game['opponent'] }} </td>
                <td> {{ game['duration'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <hr>
    <div>
        <h2>Past Games</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Winner</th>
                    <th>Portfolio Difference</th>
                </tr>
            </thead>
            <tbody>
                {% for game in pastgames %}
                    {% if game['winner'] == user %} <!-- change color based on who won-->
                        <tr class='table-success'>
                            <td> {{ game['name'] }} </td>
                            <td> {{ game['wu'] }} </td>
                            <td> {{ game['diff'] | usd}}</td>
                        </tr>
                    {% endif %}
                    {% if game['winner'] != user and game['winner'] != 0 %} <!--a tie is not a loss -->
                        <tr class='table-danger'>
                            <td> {{ game['name'] }} </td>
                            <td> {{ game['wu'] }} </td>
                            <td> {{ game['diff'] | usd }}</td>
                        </tr>
                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
 

{% endblock %}