{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <div class = "centered">
        <h1>Transaction History</h1>
    </div>
    <div>
        <h3>Current game:
        {% if not name %}
            None (personal portfolio)
        {% endif %}
        {% if name %}
            {{ name }}
        {% endif %}
        </h3>
    </div>
    <div class="container">
        <form action="{{ url_for('history') }}" method="post">
            <fieldset>
                <div class="form-group centered">
                    <select name="gamechoice" class = "dropdown-header centered">
                        <option class="dropdown-item" btm selected disabled value="">Game</option></option>
                        <option class="dropdown-item" value=0>No Game</option></option>
                        {% for game in games %}
                            {% if game.initialized == 1 %}
                                <option class="dropdown-item" value = {{ game.gamenumber }}> {{ game.name }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                <button class="btn btn-primary" type="submit">Choose Game</button>
            </div>
            </fieldset>
        </form>
    </div>
    <div class="container table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Symbol</th>
                    <th>Share Price</th>
                    <th>Total Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in transactions %}
                <tr>
                    <td>{{ trans.type }}</td>
                    <td>{{ trans.quantity }}</td>
                    <td>{{ trans.stock }}</td>
                    <td>{{ trans.price | usd}}</td>
                    <td>{{ trans.total | usd}}</td>
                    <td>{{ trans.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}