{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
<hr class='invisible'>
    <div class = "centered">
        <h1 class='display-4'>Transaction History</h1>
    </div>
    <div>
        <h3 class='display-5'>Current game:
        {% if not name %}
            None (personal portfolio)
        {% endif %}
        {% if name %}
            {{ name }}
        {% endif %}
        </h3>
    </div>
    <div class="container">
        <form action="{{ url_for('history') }}" method="post">
            <fieldset>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose Game
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <!-- allows player to choose what game they want to view the portfolio of-->
                        <button class="dropdown-item" value=0 name="gamechoice" type="submit"> No Game </button>
                        {% for game in games %}
                            {% if game.initialized == 1 %}
                                <button class="dropdown-item" value = "{{ game.gamenumber }}" name="gamechoice" type="submit"> {{ game.name }} </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
            </fieldset>
        </form>
    </div>
    <hr class='invisible'>
    <div class="container table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Symbol</th>
                    <th>Share Price</th>
                    <th>Total Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for trans in transactions %}
                <tr>
                    <td>{{ trans.type }}</td>
                    <td>{{ trans.quantity }}</td>
                    <td>{{ trans.stock }}</td>
                    <td>{{ trans.price | usd}}</td>
                    <td>{{ trans.total | usd}}</td>
                    <td>{{ trans.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}