{% extends "layout.html" %}

{% block title %}
    Stock Index
{% endblock %}

{% block main %}
    <div class="container">
        <hr class='invisible'>
        <h1 class='display-4'>Portfolio</h1>
        <div>
            <h3>Current game:
            {% if not name %}
                None (personal portfolio)
            {% endif %}
            {% if name %}
                {{ name }} | Versus {{ opponentName }}
            {% endif %}
            </h3>
        </div>
        <form action="{{ url_for('index') }}" method="post">
            <fieldset>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose Game
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <!-- allows player to choose what game they want to view the portfolio of-->
                        <button class="dropdown-item" value=0 name="gamechoice" type="submit"> No Game </button>
                        {% for game in games %}
                            {% if game.initialized == 1 and game.finished == 0 %}
                                <button class="dropdown-item" value = "{{ game.gamenumber }}" name="gamechoice" type="submit"> {{ game.name }} </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
            </fieldset>
        </form>
        <hr> 
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Share Quantity</th>
                        <th>Share Price</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    {% if stock['stock'] == 'Cash' %}
                        <tr>
                            <td>{{ stock['stock'] }}</td>
                            <td></td>
                            <td></td>
                            <td>{{ stock['total'] | usd }}</td>
                        </tr>
                    {% endif %}
                    {% if stock.stock != 'Cash' %}
                        <tr>
                            <td>{{ stock['stock'].upper() }}</td>
                            <td>{{ stock['quantity'] }}</td>
                            <td>{{ stock['price'] | usd }}</td>
                            <td>{{ stock['total'] | usd }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                <tr>
                    <td><strong>TOTAL</strong></td>
                    <td></td>
                    <td></td>
                    <td>{{ total | usd }}</td>
                    <td></td>
                </tr>
                </tbody>                
            </table>
        </div>
    </div>
{% endblock %}