{% extends "layout.html" %}

{% block title %}
    Manage Assets
{% endblock %}

{% block main %}
<hr class = 'invisible'>
    <div class = "centered">
        <h1 class="display-4">New Game</h1>
    </div>
    <form action="{{ url_for('newgame') }}" method="post">
        <fieldset>
            <label for="years">Duration</label>
            <div class="form-row">
                <div class="col-md-6">
                    <input autocomplete="off" autofocus class="form-control w-100" name="gamename" placeholder="Game Name" type="text" required/>
                </div>
                <div class="col-md-6">
                    <input autocomplete="off" id="years" autofocus class="form-control w-100" name="years" type = "number" step = 1 min = 0 placeholder="Years"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <input autocomplete="off" autofocus class="form-control w-100" name="player2" value="{{ uname }}" placeholder="Second Player" type="text" required/>
                </div>
                <div class="col-md-6">
                    <input autocomplete="off" autofocus class="form-control w-100" name="weeks" type = "number" step = 1 min = 0 placeholder="Weeks"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <input autocomplete="off" autofocus class="form-control w-100" name="startingcash" type = "number" step = 0.1 min = 1 placeholder="Starting Cash"/>
                </div>
                <div class="col-md-6">
                    <input autocomplete="off" autofocus class="form-control w-100" name="days" type = "number" step = 1 min = 0 placeholder="Days"/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary rounded-pill shadow-sm" type="submit">Send Invite</button>
            </div>
        </fieldset>
    </form>

{% endblock %}