{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Get Quote</h1>
        <h2> {{name}} (Symbol: {{symbol}}) is currently trading at {{ price | usd}}.</h2>
        <a href = "quote" class = "btn btn-primary ">New Quote</a>
    </div>

    <div class="chart" id="candlestick">
        <script>
            var graphs = {{ plot | safe }};
            var layout = {
                title: {
                    text:'{{name}} ({{symbol}})',
                    font: {
                        family: 'Courier New, monospace',
                        size: 24
                    },
                    xref: 'paper',
                    //x: 0.05,
                },
                xaxis: {
                    title: {
                    text: 'Date',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                        }
                    },
                },
                yaxis: {
                    title: {
                    text: 'Share Price (USD)',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    }
                }
            };
            var config = {responsive: true}
            Plotly.plot('candlestick', graphs, layout, config);
            
        </script>
    </div>
{% endblock %}