{% extends "layout.html" %}

{% block scripts %}
    <script src="{{url_for('static', filename='logreg.js')}}"></script>
{% endblock %} 

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Register</h3>
                            <p class="text-muted mb-4">Register by choosing a username and password.</p>
                            <form action="{{ url_for('register') }}" method="post">
                                <div class="form-group mb-3">
                                    <input id="un" autocomplete="off" autofocus name="username" type="text" placeholder="Username" required class="form-control rounded-pill border-0 shadow-sm px-4"/>
                                </div>
                                <small>
                                    <div id="untext" class="text-danger"></div>
                                </small>
                                <div class="form-group mb-3">
                                    <input id="pw" name="password" placeholder="Password" type="password" required class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"/>
                                </div>
                                <small>
                                    <div id="pwtext" class="text-danger"></div>
                                </small>
                                <div class="form-group mb-3">
                                    <input name="confirmation" id="cf" placeholder="Confirm password" type="password" required class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"/>
                                </div>
                                <small>
                                    <div id="cftext" class="text-danger"></div>
                                </small>
                                <button id="sub" type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Register</button>
                                <a href="/login" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Log in</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}