{% extends "layout.html" %}
    
{% block title %}
    Stock Index
{% endblock %}

{% block main %}
    <div class="container">
        <hr class='invisible'/>
        <h3 class="display-4">Search Users</h3>
        <form action="{{ url_for('searchusers') }}" method="post">
            <fieldset>
                <div class="input-group mb-4">
                    <input class="form-control" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="search"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr class='invisible'/>
        <h3 class="display-5">Results</h3>
        <hr class='invisible'/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                               <a data-toggle="collapse" href="#{{ user['username'] }}" role="button"  aria-controls="{{ user['username'] }}" aria-expanded="false" class="btn btn-secondary btn-block py-2 shadow-sm with-chevron">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">{{ user['username'] }}<i class="fa fa-angle-down"></i></p>
                              </a>
                              <div id="{{ user['username'] }}" class="collapse shadow-sm">
                                <div class="card">
                                  <div class="card-body">
                                      <div class="row no-gutter">
                                          <div class="col" style="width:auto;">
                                            <p class="mb-0 text-muted">Wins: {{ user.wins }}</p>
                                            </div>
                                      </div>
                                        {% if user.description %}
                                        <div class="col" style="width:auto;">
                                            <p class="mb-0">Description: {{ user.description }}</p>
                                        </div>
                                        {% endif %}
                                        <form action="{{ url_for('newgame') }}" method="POST">
                                            <button type="submit" class="btn btn-primary" name="invite" value="{{ user.username }}">Send Invite</button>
                                        </form>  
                                  </div>
                                </div>
                              </div>              
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <script src="{{url_for('static', filename='button.js')}}"></script>
{% endblock %}